:root {
  --gap: 1rem;
  --radius: 12px;


  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(in oklch,
                     var(--color-departures) calc(100% * var(--departure-ratio)),
                     var(--color-arrivals));
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  max-width: 80rem;
  margin-inline: auto;
  padding: 1rem;
  gap: var(--gap);
}

.app-header {
  display: flex;
  align-items: baseline;
  gap: var(--gap);
}

.app-header .time-filter {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: .5rem;
}

#selected-time {
  display: inline-block;
  min-width: 4.25ch; 
  text-align: right;
}
#any-time { opacity: .7; }


.legend {
  display: flex;
  gap: 1px;              
  margin-block: .5rem 0; 
}

.legend.legend--blocks > div {
  flex: 1;
  padding: .5rem 1rem;
  border-radius: var(--radius);
  background: var(--color);
  color: #111;
  text-align: center;
  font-weight: 600;
}

.legend.legend--blocks > div:first-child { color: white; }

